<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
            <script src="/Scripts/jquery-1.9.1.js"></script>

            <link href="/Content/bootstrap-theme.css" rel="stylesheet"/>
            <link href="/Content/bootstrap.css" rel="stylesheet"/>
            <link href="/Content/Site.css" rel="stylesheet"/>
            <link href="/Content/bootstrap-theme.css.map" rel="stylesheet"/>
            <link href="/Content/bootstrap-theme.min.css.map" rel="stylesheet"/>
            <link href="/Content/bootstrap.css.map" rel="stylesheet"/>
            <link href="/Content/bootstrap.min.css.map" rel="stylesheet"/>
            <script src="/Scripts/bootstrap.js"></script>
    </head>
    <body>

        @RenderSection("featured", required: false)
        @RenderBody()
        
        <script src="/Scripts/jquery-1.9.1.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
